---
import { Button } from "../ui/button";
---

<section class="rounded-xl bg-primary m-4 md:m-8 p-8 mb-12 "> 
  <!-- Este div es el flex container -->
  <div class="flex flex-col-reverse lg:flex-row gap-8">
    <!-- Bloque de texto -->
    <div
      class="flex flex-col justify-center flex-1 text-white gap-4 lg:pl-36 md:pr-3"
    >
      <p class="font-accent text-lg md:text-4xl">
        Apoya a Jesus Camino de Vida
      </p>
      <h2 class="font-heading text-4xl  font-semibold">
        Dona con un corazón agradecido
      </h2>
      <p class="text-w-md md:text-xl semibold max-w-2xl">
        Tu generosidad nos permite responder al llamado de ir por todo el mundo
        y compartir el evangelio con cada persona. Gracias a tu generosidad,
        seguimos llevando el mensaje de salvación, esperanza y amor de Dios a
        más vidas, tanto cerca como lejos.
      </p>
      <Button
        className="bg-white text-lg md:text-xl font-semibold text-black hover:bg-white/90 w-fit"
        >Donar</Button
      >
    </div>

    <!-- Imagen -->
    <img
      src="/images/Donar.jpeg"
      class="rounded-xl flex-1 object-cover w-full h-full 2xl:max-h-125"
    />
  </div>
</section>
