---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/sections/Hero.astro";

---

<Layout>
	<Hero />
	
<section class="h-[100vh] flex items-center justify-center">
  <p class="text-black">Siguiente sección</p>
</section>
</Layout>
